{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Hero Section -->
<header class="container-fluid text-center my-5">
  <img src="readme_docs/Spitting-logo.png" class="img-fluid" alt="Hero Image" />
  <h1 class="mt-4">Express Yourself Through Words</h1>
  <p class="hero-subtitle">Join the community and start creating your own raps today!</p>
  <a href="#" class="btn btn-lg">Register Now</a>
</header>

<!-- Features Section -->
<div class="container my-5">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="card">
        <img src="readme_docs/readme_images/logo-600px.jpg" class="card-img-top" alt="Create Raps" />
        <div class="card-body">
          <p class="card-text">
            Start crafting your own lyrics and express your creativity.
          </p>
          <a href="{% url 'lyric_create' %}" class="btn">Create Your Own Raps</a>
        </div>
      </div>
    </div>
    <!-- This was Get Feedback, changed to My Raps -->
    <div class="col-md-4">
      <div class="card">
        <img src="readme_docs/readme_images/logo-600px.jpg" class="card-img-top" alt="My Raps" />
        <div class="card-body">
          <p class="card-text">
            My Raps.
          </p>
          <a href="{% url 'user_page' %}" class="btn">Explore all my Raps</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="readme_docs/readme_images/logo-600px.jpg" class="card-img-top" alt="View Raps" />
        <div class="card-body">
          <p class="card-text">
            Explore creative writting from other artists in the community.
          </p>
          <a href="{% url 'lyric_list' %}" class="btn">Our Collection</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock content %}