{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>My Workspace</h1>

<div class="container">
    <div class="row">
        <!-- Placeholder card for creating a new genre  -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        <!-- <div class="image-flash">
                            <p class="artist">Artist: none</p>
                        </div> -->
                    </div>
                    <a href="{% url 'lyric_create' %}" class="lyric-link faded">
                        <h2 class="card-title">New</h2>
                        <!-- <p class="card-text">Genre excerpt</p> -->
                    </a>
                </div>
            </div>
        </div>
        {% for lyric in lyrics %}
        {% if lyric.artist == request.user %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <a href="{% url 'lyric_detail' lyric.id %}" class="lyric-link">
                        <h2 class="card-title">{{ lyric.title }}</h2>
                        <p>{{ lyric.genre }} </p>
                        <p>{{ lyric.created_at }} </p>
                        <p><em>{{ lyric.get_admin_accept_display }}</em> </p>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}