body {
    background-color: rgb(2, 2, 34);
    color: orangered;
}

/* navbar */

.nav {
    background-color: rgb(14, 14, 240);
    color: orangered;
    width: 80%;
}


/* Media Player */

.mediaplay-section {
    margin: 0 auto;
    width: fit-content;

    display: flex;
    justify-content: end;
    gap: 10px;
    color: orangered;
    padding: 10px;
    background-color: rgb(255, 208, 0);
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(255, 68, 0, 0.384);
}

.mediaplay-section button {
    background: linear-gradient(45deg, orangered, yellow);
    box-shadow: 0 0 10px orangered;
    color: rgb(2, 2, 34);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.mediaplay-section button.active {
    background: orangered;
}

.mediaplay-section button:hover {
    background: linear-gradient(45deg, yellow, orangered);
}

.mediaplay-section p {
    font-size: 1.2rem;
    color: rgb(2, 2, 34);

}

#audioSelect {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 2px #00FF00, 0 0 2px #00FF00, 0 0 10px #00FF00;
    background-color: rgb(2, 2, 34);
    color:rgb(28, 238, 0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 5px rgba(255, 68, 0, 0.384);
}

